/* -------------------------------------------------------------------
	ОСНОВНЫЕ СТИЛИ
------------------------------------------------------------------- */

body { position: relative; }


/* Оформление
---------------------------------------------------- */
#nav { background-color: #f5f5f5; }


/* Шапка сайта
---------------------------------------------------- */
#header { position: relative; }

.navbar .nav > li > a img.avatar 			{ width: 20px; height: 20px; vertical-align: top; }
.navbar .nav > li > a.new-messages:hover i 	{ opacity: .8; }


/* Навигация
---------------------------------------------------- */
#nav .nav 			{ margin-bottom: 0; }
#nav .navbar-search { margin-top: 2px; margin-bottom: 2px; }
#nav .btn-write 	{ margin-top: 2px; margin-bottom: 2px; margin-left: 20px; }


/* Контейнер
---------------------------------------------------- */
.content { position: relative; }


/* Футер
---------------------------------------------------- */
#footer 					{ background-color: #f5f5f5; }
#footer .footer-list-header	{ font-weight: bold; }
#footer .copyright 			{ font-size: 12px; text-align: right; }


/* Stat
---------------------------------------------------- */
#stat-performance table td 	{ width: 200px; vertical-align: top; }


/* Ссылки
---------------------------------------------------- */
a.link-dashed 		{ border-bottom: 1px dashed; }
a.link-dashed:hover { text-decoration: none; }

a.link-dotted 		{ border-bottom: 1px dotted; }
a.link-dotted:hover { text-decoration: none; }


/* Заголовки
---------------------------------------------------- */
.page-header 		{ margin-top: 0; }


/* Stream
---------------------------------------------------- */
.stream_loading 					{ background-color: #f5f5f5 url(../images/loader.gif) no-repeat center; }

.stream-list 						{ margin-bottom: 20px; }
.stream-list li.stream-item 		{ margin-bottom: 20px; min-height: 48px; _height: 48px; border-bottom: 1px solid #eeeeee; padding: 0 0 20px 63px; position: relative; }
.stream-list li.stream-item .avatar { position: absolute; top: 0; left: 0; }
.stream-list li.stream-item .date 	{ display: block; }
.stream-list li.stream-header-date 	{ margin: 40px 0 20px 0; padding-bottom: 5px; border-bottom: 1px solid #eeeeee; }

.stream-comment-preview 			{ padding: 5px 10px; margin-top: 10px; background-color: #f5f5f5; }


/* Userfields
---------------------------------------------------- */
.userfield-list li 							{ margin-bottom: 2px; padding: 10px; overflow: hidden; zoom: 1; background-color: #eeeeee; }
.userfield-list li .userfield_admin_name 	{ font-weight: bold; color: #333333; }


/* Misc
---------------------------------------------------- */
.poll-create 				{ padding: 15px 20px; margin-bottom: 20px; background-color: #eeeeee; }
.question-list li .span4	{ margin-right: 10px; }


.help 						{ display: none; position: relative; padding: 0 0 20px; margin: 13px 0 0; border: 1px solid #dddddd; background-color: #ffffff; }
.help:before 				{ display: block; content: ""; position: absolute; top: -12px; left: 15px; width: 0; height: 0; border-width: 6px; border-color: transparent transparent #ffffff transparent; border-style: solid; }
.help .help-col 			{ float: left; width: 44%; padding: 0 3%; margin: 0; font-weight: normal;}
.help .help-col.help-wide 	{ float: none; width: 94%; }
.help .help-item 			{ margin-bottom: 20px; }
.help .help-item:last-child { margin-bottom: 0; }

.help-block.span4 			{ margin-left: 0; }


a:focus,
a:hover,
a:active,
.btn:focus,
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus { outline: 0; }

iframe { border: none; }

a:focus { text-decoration: none; }