/* -------------------------------------------------------------------
	ОСНОВНЫЕ СТИЛИ
------------------------------------------------------------------- */


/* Ссылки */
a.link-dashed { border-bottom: 1px dashed; }
a.link-dashed:hover { text-decoration: none; }

a.link-dotted { border-bottom: 1px dotted; }
a.link-dotted:hover { text-decoration: none; }


/* Шапка сайта */
#header .navbar h1.site-name { margin: 0; }
#header .navbar .nav > li > a img.avatar { width: 20px; height: 20px; vertical-align: top; }
#header .navbar .nav > li > a.new-messages span { top: 2px; }


/* Навигация */
#nav .navbar-search { margin-top: 2px; margin-bottom: 2px; }
#nav .btn-write { margin-top: 2px; margin-bottom: 2px; margin-left: 20px; }

#wrapper .nav-filter-wrapper { margin-bottom: 20px; }


/* Pagination */
.pagination.pages { margin-right: 40px; }


/* Stat */
#stat-performance table td { width: 200px; vertical-align: top; }


/* Заголовки */
.page-header { margin-top: 0; }
.page-header h1 { margin-top: 0; }


/* Stream */
.stream_loading { background-color: #f5f5f5 url(../images/loader.gif) no-repeat center; }

.stream-list { margin-bottom: 40px; }
.stream-list li.stream-item { margin-bottom: 20px; min-height: 48px; _height: 48px; padding: 0 0 20px 63px; position: relative; }
.stream-list li.stream-item .avatar { position: absolute; top: 0; left: 0; }
.stream-list li.stream-item .date { display: block; }
.stream-list li.stream-header-date { margin-top: 40px; }

.stream-comment-preview { padding: 5px 10px; margin-top: 10px; }


/* Userfields */
.userfield-list li { margin-bottom: 2px; padding: 10px; overflow: hidden; zoom: 1; }


/* Light Pages */
body.light { padding-bottom: 40px; padding-top: 40px; }
body.light .site-info { margin-bottom: 40px; }
.light-form { margin: 0 auto; max-width: 400px; padding: 20px; }
.light-form .page-header h2, .light-form .page-header h3 { margin-top: 0; }


/* Misc */
.help { display: none; position: relative; padding: 0 0 20px; margin: 13px 0 0; }
.help .help-col { float: left; width: 44%; padding: 0 3%; margin: 0; font-weight: normal;}
.help .help-col.help-wide { float: none; width: 94%; }
.help .help-item { margin-bottom: 20px; }
.help .help-item:last-child { margin-bottom: 0; }