/* -------------------------------------------------------------------
	ОБЩИЕ СТИЛИ
------------------------------------------------------------------- */

/* Голосование 
---------------------------------------------------- */
.vote .vote-count 							{ display: inline-block; color: #999999; }
.vote .vote-count a 						{ text-decoration: none; color: #999999; outline: none; }

.vote.vote-count-positive .vote-count 		{ color: #468847; }
.vote.vote-count-negative .vote-count 		{ color: #b94a48; }

.vote .vote-up,
.vote .vote-down 							{ display: inline-block; cursor: pointer; color: #7b848d; }

.vote .vote-up:hover 						{ color: #468847; text-decoration: none; }
.vote .vote-down:hover 						{ color: #b94a48; text-decoration: none; }

.vote.voted.voted-up 	.vote-up 			{ color: #468847; }
.vote.voted.voted-down 	.vote-down 			{ color: #b94a48; }

.vote.voted.voted-up 	.vote-down:hover 	{ color: #b94a48; }
.vote.voted.voted-down 	.vote-up:hover 		{ color: #468847; }

.vote-topic-info 							{ margin-bottom: 0; }
.vote-topic-info li span 					{ margin-right: 7px; }


/* Избранное 
---------------------------------------------------- */
.favourite 			{ display: inline-block; cursor: pointer; }
.favourite, 
.favourite:hover, 
.favourite:focus 	{ color: #999999; }
.favourite:hover 	{ text-decoration: none; }
.favourite.active 	{ color: #f2a809; }
.favourite-count { color: #999999; }


/* Toolbar 
---------------------------------------------------- */
.toolbar 					{ float: right; position: fixed; top: 150px; right: 10px; z-index: 100; }
.toolbar section 			{ width: 40px; margin-bottom: 10px; border: 1px solid #eeeeee; border-radius: 5px;}

.toolbar section a 			{ display: block; padding: 12px; color: #999999; line-height: 1; }
.toolbar section a:hover 	{ text-decoration: none; color: #468847; }

/* Update comments button */
.toolbar .toolbar-update .update-comments.active span 	{ opacity: .5; }
.toolbar .toolbar-update .new-comments 					{ border-top: 1px solid #eeeeee; padding: 10px 0; text-align: center; font-size: 11px; }

/* Topic navigation */
.toolbar .toolbar-topic a.toolbar-topic-prev { border-bottom: 1px solid #eeeeee; }

/* Scroll Up */
.toolbar .toolbar-scrollup { display: none; }


/* Список пользователей 
---------------------------------------------------- */
.user-list-avatar 			{ margin: 0 -5px; }
.user-list-avatar li 		{ margin-bottom: 10px; }
.user-list-avatar li img	{ display: block; }


/* Поиск 
---------------------------------------------------- */
.search-item 				{ padding: 15px; margin-bottom: 20px; background-color: #f5f5f5; }

.search-abc li 				{ padding-left: 0 !important; }
.search-abc li.active a 	{ color: #333333; border: none; }


/* Облако тегов 
---------------------------------------------------- */
.tag-cloud 					{ text-align: center; }
.tag-cloud li 				{ line-height: 24px; }
.tag-cloud li a 			{ color: #999999; }
.tag-cloud li .tag-size-1 	{ font-size: 12px; }
.tag-cloud li .tag-size-2 	{ font-size: 12px; }
.tag-cloud li .tag-size-3 	{ font-size: 14px; }
.tag-cloud li .tag-size-4 	{ font-size: 14px; }
.tag-cloud li .tag-size-5 	{ font-size: 18px; }
.tag-cloud li .tag-size-6 	{ font-size: 18px; }
.tag-cloud li .tag-size-7 	{ font-size: 20px; }
.tag-cloud li .tag-size-8 	{ font-size: 20px; }
.tag-cloud li .tag-size-9 	{ font-size: 22px; }
.tag-cloud li .tag-size-10 	{ font-size: 22px; }


/* Item List 
---------------------------------------------------- */
.item-list 					{ border-bottom: 1px solid #eeeeee; border-top: 1px solid #eeeeee; }
.item-list li 				{ padding: 10px 0; position: relative; zoom: 1; }
.item-list li p 			{ margin-bottom: 0; }
.item-list li .author 		{ color: #333333; }
.item-list li .blog-name 	{ color: #468847; }


/* Разное
---------------------------------------------------- */
.loader { background: #f5f5f5 url(../images/loader.gif) 50% 50% no-repeat; }

.alert ul { margin-bottom: 0; }

.user, .ls-user { text-decoration: underline; }

.ls-user:before { content: ''; display: inline-block; width: 14px; height: 14px; margin-right: 3px; background: url(../images/icon-user.png) 0 0 no-repeat; vertical-align: text-top; }

.wrapper-content { background-color: #f5f5f5; padding: 20px; }
.wrapper-content.wrapper-content-dark 	{ background-color: #f0f0f0; }

a.blogs-search, a.people-search 			{ position: absolute; right: 15px; top: 5px; color: #999999; }
a.blogs-search:hover, a.people-search:hover { text-decoration: none; }