/* -------------------------------------------------------------------
	ФОРМЫ
------------------------------------------------------------------- */

form .icon-question-sign { cursor: help; }

.captcha-image { vertical-align: top; }

.form-profile 					{ position: relative; }
.form-profile .form-actions 	{ margin-top: 0; margin-bottom: 0; }

.mceEditor { display: block; margin-bottom: 20px; }

.markItUpHeader ul { margin: 0; }
.markItUpContainer textarea { border-radius: 0 0 4px 4px; }


select, input[type="file"] { height: auto; }

/* Валидатор (регистрация)
---------------------------------------------------------------*/
.validate-error-hide { display: none; }