/* --------------------------------------------
	СЕТКА
-------------------------------------------- */

.nav-inner 				{ padding-top: 8px; padding-bottom: 8px; }
.wrapper-inner 			{ margin-top: 40px; margin-bottom: 40px; }
.footer-inner 			{ padding-top: 40px; padding-bottom: 40px; }
.stat-performance-inner { padding-top: 40px; padding-bottom: 40px; }