/* --------------------------------------------
	СЕТКА
-------------------------------------------- */

#nav .container 				{ padding-top: 10px; padding-bottom: 10px; }
#wrapper.container 				{ padding-top: 40px; padding-bottom: 40px; }
#footer .container 				{ padding-top: 40px; padding-bottom: 40px; }
#stat-performance .container 	{ padding-top: 40px; padding-bottom: 40px; }