/* --------------------------------------------
	АДАПТИВНОСТЬ
-------------------------------------------- */

.navbar .btn-navbar .icon-bar { opacity: 1; }


/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}


/* Desktop
------------------------- */
@media (max-width: 980px) {

}


/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {

}


/* Tablet
------------------------- */
@media (max-width: 767px) {
  .navbar-inner { padding-left: 0; padding-right: 0; }
  
  /* Модальные окна */
  .modal.modal-write,
  .modal.modal-upload-photo,
  .modal.modal-upload-avatar { width: auto; margin-left: 0; }
}


/* Landscape phones
------------------------- */
@media (max-width: 480px) {

}