/* -------------------------------------------------------------------
	ТАБЛИЦЫ
------------------------------------------------------------------- */

.table th 					{ font-size: 12px; }

.table thead a 				{ text-decoration: none; }
.table thead a span 		{ border-bottom: 1px dotted #007fff; }

.table a.asc:after			{ content: " ↑"; }
.table a.desc:after			{ content: " ↓"; }


/* Table Plugins */
.table tr.active td,
.table tr.active:hover td 	{ background: #dfffdf; }


/* Table Blogs */
.table.table-blogs 								{ margin-bottom: 40px; }

.table.table-blogs .cell-name .avatar 			{ float: left; margin-right: 15px; }
.table.table-blogs .cell-name p					{ overflow: hidden; margin-bottom: 5px; }
.table.table-blogs .cell-name p .blog-name 		{ font-size: 16px; text-decoration: underline; }
.table.table-blogs .cell-name .user-avatar a 	{ color: #333333; }

.table.table-blogs .cell-join 			{ width: 130px; text-align: center; vertical-align: middle; }
.table.table-blogs .cell-readers,
.table.table-blogs .cell-rating 		{ width: 70px; text-align: center; vertical-align: middle; }

.table.table-blogs  tbody .cell-join 	{ font-size: 12px; }
.table.table-blogs  tbody .cell-readers { font-size: 12px; font-weight: bold; }
.table.table-blogs  tbody .cell-rating 	{ font-size: 12px; font-weight: bold; color: #468847; }


/* Table Users */
.table.table-users 								{ margin-bottom: 40px; }

.table.table-users .cell-name .avatar 			{ float: left; margin-right: 15px; }
.table.table-users .cell-name .name 			{ float: left; width: 120px; }

.table.table-users .cell-name .name.no-realname { margin-top: 10px; }
.table.table-users .cell-name .username 		{ margin: 3px 0 3px 0; }
.table.table-users .cell-name .username a 		{ text-decoration: underline; }
.table.table-users .cell-name .realname 		{ margin: 0; font-size: 12px; color: #999999; }

.table.table-users .cell-date 					{ width: 130px; }

.table.table-users .cell-rating,
.table.table-users .cell-skill 					{ text-align: center; width: 70px; }

.table.table-users tbody .cell-date 			{ font-size: 12px; color: #999; vertical-align: middle; }
.table.table-users tbody .cell-skill 			{ font-size: 12px; font-weight: bold; color: #0088cc; vertical-align: middle; }
.table.table-users tbody .cell-rating 			{ font-size: 12px; font-weight: bold; color: #468847; vertical-align: middle; }
.table.table-users tbody .cell-rating.negative	{ color: #b94a48; }


/* Table Talk */
.table.table-talk .cell-checkbox 		{ width: 16px; }
.table.table-talk .cell-checkbox input 	{ margin-top: 0; }

.table.table-talk .cell-favourite 		{ width: 16px; text-align: center; }
.table.table-talk .cell-recipients 		{ width: 130px; }

.table.table-talk tbody .cell-date 		{ font-size: 12px; width: 150px; color: #999999; }


/* Table Profile Notes */
.table.table-profile-notes .cell-username 	{ width: 20%; }
.table.table-profile-notes .cell-note 		{ width: 50%; }
.table.table-profile-notes .cell-date 		{ text-align: right; color: #999999; font-size: 12px; }


/* Table Profile Info */
.table.table-profile-info 				{ margin-bottom: 40px; }
.table.table-profile-info .cell-label 	{ color: #999999; width: 33%; }

/* Table Plugins */
.table.table-plugins .cell-checkbox 	{ width: 16px; }