/* -------------------------------------------------------------------
	ТАБЛИЦЫ
------------------------------------------------------------------- */

.table thead a 		{ text-decoration: none; }
.table thead a span { border-bottom: 1px dotted; }

.table a.asc:after	{ content: " ↑"; }
.table a.desc:after	{ content: " ↓"; }


/* Table Blogs */
.table.table-blogs { margin-bottom: 40px; }

.table.table-blogs .cell-name .avatar 					{ float: left; margin-right: 15px; }
.table.table-blogs .cell-name p							{ overflow: hidden; margin-bottom: 5px; }
.table.table-blogs .cell-name p .blog-name 				{ font-size: 16px; text-decoration: underline; }
.table.table-blogs .cell-name p .question-sign:hover 	{ text-decoration: none; }

.table.table-blogs .cell-name .user-avatar a { color: #333333; }

.table.table-blogs .cell-join 		{ width: 130px; text-align: center; vertical-align: middle; }
.table.table-blogs .cell-readers,
.table.table-blogs .cell-rating 	{ width: 72px; text-align: center; vertical-align: middle; }


/* Table Users */
.table.table-users 								{ margin-bottom: 40px; }

.table.table-users .cell-name .avatar 			{ float: left; margin-right: 15px; }
.table.table-users .cell-name .name 			{ float: left; width: 120px; }

.table.table-users .cell-name .name.no-realname { margin-top: 10px; }
.table.table-users .cell-name .username 		{ margin: 3px 0 3px 0; }
.table.table-users .cell-name .username a 		{ font-size: 16px; text-decoration: underline; }
.table.table-users .cell-name .realname 		{ margin: 0; }

.table.table-users .cell-date 					{ width: 130px; }
.table.table-users .cell-rating,
.table.table-users .cell-skill 					{ width: 72px; text-align: center; }

.table.table-users tbody .cell-date, 
.table.table-users tbody .cell-skill, 
.table.table-users tbody .cell-rating 			{ vertical-align: middle; }


/* Table Talk */
.table.table-talk .cell-checkbox 		{ width: 16px; }
.table.table-talk .cell-checkbox input 	{ margin-top: 0; }

.table.table-talk .cell-favourite 		{ width: 16px; text-align: center; }
.table.table-talk .cell-recipients 		{ width: 130px; }

.table.table-talk tbody .cell-date 		{ width: 150px; }


/* Table Profile Notes */
.table.table-profile-notes .cell-username 	{ width: 20%; }
.table.table-profile-notes .cell-note 		{ width: 50%; }
.table.table-profile-notes .cell-date 		{ text-align: right; }


/* Table Profile Info */
.table.table-profile-info 				{ margin-bottom: 40px; }
.table.table-profile-info .cell-label 	{ width: 33%; }

/* Table Plugins */
.table.table-plugins h4 				{ margin-top: 0; }
.table.table-plugins .cell-checkbox 	{ width: 16px; }