/* --------------------------------------------
	ТОПИК
-------------------------------------------- */

.topic { overflow: hidden; zoom: 1; margin-bottom: 40px; }


/* Header */
.topic .topic-header .topic-title 				{ margin-top: 0; }
.topic .topic-header .topic-title a 			{ color: #333333; text-decoration: underline; }
.topic .topic-header .topic-title a:hover 		{ text-decoration: none; }

.topic .topic-header .topic-title span 			{ cursor: help; font-size: 16px; vertical-align: text-top; }

.topic .topic-header .topic-info 					{ margin-bottom: 20px; }
.topic .topic-header .topic-info .topic-blog 		{ margin-right: 10px; font-size: 16px; text-decoration: underline; }
.topic .topic-header .topic-info .topic-blog:hover 	{ text-decoration: none; }
.topic .topic-header .topic-info .actions 					{ display: inline; }
.topic .topic-header .topic-info .actions li:first-child 	{ padding-left: 0; }


/* Content */
.topic .topic-content 	{ margin-bottom: 20px; font-size: 16px; }


/* Topic Link */
.topic .topic-url 		{ margin-top: 10px; }


/* Tags */
.topic .topic-footer .topic-tags 						{ margin-bottom: 5px; }
.topic .topic-footer .topic-tags li 					{ padding: 0; }
.topic .topic-footer .topic-tags li a 					{ color: #999999; }

.topic .topic-footer .topic-tags li span 				{ margin-right: 5px; }
.topic .topic-footer .topic-tags li.topic-tags-user a 	{ color: #468847; }

.topic .topic-footer .topic-tags li.topic-tags-edit 	{ margin-left: 10px; }


/* Info */
.topic .topic-footer .topic-info 								{ padding-top: 5px; border-top: 1px solid #eeeeee; }
.topic .topic-footer .topic-info li.vote 						{ padding-right: 0; }
.topic .topic-footer .topic-info li.topic-info-author 			{ padding-left: 0; }
.topic .topic-footer .topic-info li.topic-info-author a 		{ color: #333333; text-decoration: underline; }
.topic .topic-footer .topic-info li.topic-info-author a img 	{ margin-right: 2px; width: 16px; height: 16px; vertical-align: middle; }
.topic .topic-footer .topic-info li.topic-info-share a { color: #aaaaaa; }
.topic .topic-footer .topic-info li.topic-info-share a:hover 	{ text-decoration: none; }

.topic .topic-footer .topic-info li.topic-info-comments a 				{ color: #aaaaaa; }
.topic .topic-footer .topic-info li.topic-info-comments a:hover 		{ text-decoration: none; }
.topic .topic-footer .topic-info li.topic-info-comments a.icon-active, 
.topic .topic-footer .topic-info li.topic-info-comments a.new 			{ color: #468847; }
.topic .topic-footer .topic-info li.topic-info-comments a.new .count 	{ color: #b94a48; }


/* Share */
.topic .topic-share { display: none; padding: 3px; margin-bottom: 10px; border: 1px solid #eeeeee; }
.topic .topic-share .yashare-auto-init {  }


/* Poll */
.topic .poll { margin-bottom: 20px; }


/* Topic Photo */
.topic.topic-type-photoset .topic-photo-preview 					{ position: relative; margin-bottom: 20px; cursor: pointer; }
.topic.topic-type-photoset .topic-photo-preview img 				{ vertical-align: top; }

.topic.topic-type-photoset .topic-photo-preview .topic-photo-count 	{ display: none; cursor: pointer; position: absolute; top: 5px; right: 5px; color: #3fb618; padding: 4px 7px; background: rgba(0,0,0,.6); }
.topic.topic-type-photoset .topic-photo-preview .topic-photo-desc 	{ display: none; width: 100%; padding: 7px 2%; position: absolute; bottom: 0; left: 0; color: #ffffff; line-height: 16px; background: rgba(0,0,0,.7); }

.topic.topic-type-photoset .topic-photo-images 						{ padding-top: 10px; margin-bottom: 10px; }
.topic.topic-type-photoset .topic-photo-images h2 					{ border-bottom: 1px solid #eee; }
.topic.topic-type-photoset .topic-photo-images ul li 				{ float: left; margin: 0 9px 9px 0; padding: 0; position: relative; }

.topic-photo-upload 								{ background-color: #eeeeee; padding: 15px; margin-bottom: 20px; }
.topic-photo-upload ul 								{ overflow: hidden; zoom: 1; }
.topic-photo-upload ul li 							{ min-height: 100px; _height: 100px; margin-bottom: 10px; padding-left: 110px; position: relative; }
.topic-photo-upload ul li img 						{ position: absolute; top: 0; left: 0; }
.topic-photo-upload ul li textarea 					{ -moz-box-sizing: border-box; width: 100%; }
.topic-photo-upload ul li .image-delete 			{ margin-right: 10px; }
.topic-photo-upload ul li .mark-as-preview 			{ display: none; }
.topic-photo-upload ul li:hover .mark-as-preview 	{ display: inline; }
.topic-photo-upload .topic-photo-upload-rules 		{ margin-bottom: 20px; }


/* Topic Talk */
.topic.topic-type-talk .talk-recipients 		{ padding: 10px 15px; background: #f5f5f5; }

.talk-search .talk-search-content 				{ border-top: 1px solid #eeeeee; display: none; padding-top: 10px; margin-top: 10px; }


/* Topic Preview */
.topic-preview { margin-top: 40px; }