/* --------------------------------------------
	ТОПИК
-------------------------------------------- */

.topic { overflow: hidden; zoom: 1; }


/* Header */
.topic .topic-header .topic-title { margin-top: 0; }

.topic .topic-header .topic-title span { cursor: help; vertical-align: text-top; }

.topic .topic-header .topic-info { margin-bottom: 15px; }
.topic .topic-header .topic-info .topic-blog { margin-right: 10px; }
.topic .topic-header .topic-info .actions { display: inline; }
.topic .topic-header .topic-info .actions li:first-child { padding-left: 0; }


/* Content */
.topic .topic-content { margin-bottom: 15px; }


/* Topic Link */
.topic .topic-url { margin-top: 10px; }


/* Tags */
.topic .topic-footer .topic-tags { margin-bottom: 5px; }
.topic .topic-footer .topic-tags li { padding: 0; }
.topic .topic-footer .topic-tags li span { margin-right: 5px; }
.topic .topic-footer .topic-tags li.topic-tags-edit { margin-left: 10px; }


/* Info */
.topic .topic-footer .topic-info { padding-top: 5px; }
.topic .topic-footer .topic-info li:first-child { padding-left: 0; }
.topic .topic-footer .topic-info li:last-child { padding-right: 0; }
.topic .topic-footer .topic-info li.topic-info-author a img { margin-right: 2px; width: 16px; height: 16px; vertical-align: top; }
.topic .topic-footer .topic-info li.topic-info-share a:hover { text-decoration: none; }
.topic .topic-footer .topic-info li.topic-info-comments a:hover { text-decoration: none; }


/* Share */
.topic .topic-share { display: none; height: 40px; padding: 3px; margin-bottom: 10px; }


/* Poll */
.topic .poll { margin-bottom: 20px; }

.poll-create { padding: 15px 20px; margin-bottom: 20px; }
.poll-create .question-list li { position: relative; margin-bottom: 15px; }
.poll-create .question-list .form-control { padding-right: 30px; }
.poll-create .question-list .icon-remove { position: absolute; right: 10px; top: 9px; z-index: 10; }


/* Topic Photo */
.topic.topic-type-photoset .topic-photo-preview { position: relative; margin-bottom: 20px; cursor: pointer; }
.topic.topic-type-photoset .topic-photo-preview img { vertical-align: top; }

.topic.topic-type-photoset .topic-photo-preview .topic-photo-count { display: none; cursor: pointer; position: absolute; top: 5px; right: 5px; padding: 4px 7px; }
.topic.topic-type-photoset .topic-photo-preview .topic-photo-desc { display: none; width: 100%; padding: 7px 2%; position: absolute; bottom: 0; left: 0; line-height: 16px; }

.topic.topic-type-photoset .topic-photo-images { padding-top: 10px; margin-bottom: 10px; }
.topic.topic-type-photoset .topic-photo-images ul li { float: left; margin: 0 9px 9px 0; padding: 0; position: relative; }

.topic-photo-upload { padding: 15px; margin-bottom: 20px; }
.topic-photo-upload ul { overflow: hidden; zoom: 1; }
.topic-photo-upload ul li { min-height: 100px; _height: 100px; margin-bottom: 10px; padding-left: 110px; position: relative; }
.topic-photo-upload ul li img { position: absolute; top: 0; left: 0; }
.topic-photo-upload ul li .image-delete { margin-right: 10px; }
.topic-photo-upload ul li .mark-as-preview { display: none; }
.topic-photo-upload ul li:hover .mark-as-preview { display: inline; }
.topic-photo-upload .topic-photo-upload-rules  { margin-bottom: 20px; }

.topic-photo-upload ul li textarea { display: block; width: 100%; vertical-align: middle; }


/* Topic Talk */
.topic.topic-type-talk .talk-recipients { padding: 10px 15px; margin-bottom: 20px; }

.talk-search .talk-search-content { display: none; padding-top: 10px; margin-top: 10px; }


/* Topic Preview */
.topic-preview { margin-top: 40px; }