/* --------------------------------------------
	СТЕНА
-------------------------------------------- */

.wall-submit 									{ margin-bottom: 20px; padding: 15px; position: relative; background-color: #f5f5f5; }
.wall-submit .counter 							{ color: #999; position: absolute; right: 15px; bottom: 15px; }

.wall-submit.wall-submit-reply 					{ margin-bottom: 20px; padding: 15px; background: #f5f5f5; }
.wall-submit.wall-submit-reply .form-group 		{ margin-bottom: 0; }
.wall-submit.wall-submit-reply textarea 		{ height: 34px; *height: 16px; *width: 590px; }
.wall-submit.wall-submit-reply button 			{ display: none; }
.wall-submit.wall-submit-reply.active textarea 	{ height: 80px; margin-bottom: 15px; }
.wall-submit.wall-submit-reply.active button 	{ display: block; }
.wall-submit.wall-submit-reply .counter 		{ display: none; }
.wall-submit.wall-submit-reply.active .counter 	{ display: block; }

.comment.wall-comment-reply 					{ min-height: 30px; padding: 15px 0 15px 40px; }
.comment.wall-comment-reply .comment-avatar 	{ top: 15px; width: 30px; height: 30px; }