/* RESET */
a:focus, a:hover, a:active, .btn:focus, select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: 0; }
iframe { border: none; }
a:focus { text-decoration: none; }

.text { line-height: 1.6; }

.text-success { color: #090; }
.text-info { color: #0074d9; }
.text-danger { color: #f00; }

.dropdown-menu > li > a { padding: 4px 20px; font-size: 11px; }

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus { cursor: default; }

.progress { height: 10px; margin-bottom: 25px; margin-top: 7px; }



/* ССЫЛКИ */
a { transition: color 0.2s ease 0s; -webkit-transition: color 0.2s ease 0s; }

a.actions-edit { color: #090; }
a.actions-delete,
a.delete { color: #f00; }

a.stream-topic { color: #111; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
a.blog-top { font-weight: 600; text-decoration: underline; }
a.blog-top:hover { color: #f00; }
a.read-more { color: #868686 !important; font-size: 13px; text-decoration: none !important; }
a.read-more:hover { color: #f00 !important; }

.table.table-talk a.user { color: #111; font-weight: bold; }
.table.table-talk a.user.inactive { color: #adadad; }


/* ШАПКА САЙТА */
#header .navbar .site-name { font-weight: 700; }
#header .navbar .nav > li > a { padding-left: 15px; padding-right: 15px; }
#header .navbar .nav > li > a.new-messages { color: #ffdc00; }
#header .navbar .nav > li > a.new-messages:hover { color: #ff851b; }
#header .navbar .nav .messages-count { color: #f00; }
#header .navbar .nav > li > a img.avatar { margin-right: 3px; }


/* НАВИГАЦИЯ */
#nav { background-color: #fff; border-bottom: 1px solid #efefef; box-shadow: 0 10px 10px #fafafa; }
#nav .container { padding-bottom: 12px; padding-top: 12px; }
#nav .navbar-search { margin-bottom: 0; margin-top: 0; }
#nav .navbar-search .form-control { border-color: #e6e6e6; }
#nav .navbar-search .form-control::-moz-placeholder { color: #aaa; }
#nav .btn-write { margin-bottom: 0; margin-top: 0; }

.nav-pills > li > a { color: #868686; border: 1px solid rgba(0, 0, 0, 0); }
.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus { background: -moz-linear-gradient(center top , #fefefe 0%, #f4f4f4 100%); border-color: #e6e6e6 !important; color: #555; }

.nav-pills > li > a:hover, 
.nav-pills > li > a:focus, 
.nav-pills .open > a, 
.nav-pills .open > a:hover, 
.nav-pills .open > a:focus { background-color: #f5f5f5; border-color: #f5f5f5 !important; }

#wrapper .nav-filter-wrapper { margin-bottom: 40px; }


/* ФУТЕР */
#footer { background-color: #e9eaed; border-top: 1px solid #d7dbe4; color: #fff; }
#footer a { color: #111; font-size: 11px; }
#footer .footer-list-header { border-bottom: 1px solid #d6d6d6; color: #111; font-weight: bold; margin-bottom: 5px; padding-bottom: 3px; }

#footer .footer-bottom { background-color: #476698; font-size: 11px; }
#footer .footer-bottom .container { padding-bottom: 15px; padding-top: 15px; }
#footer .footer-bottom a { color: #fff; }


/* STREAM */
.stream-list li.stream-item { border-bottom: 1px solid #eee; }
.stream-list li.stream-header-date .lead { border-bottom: 1px solid #eee; }

.stream-comment-preview { background-color: #f4f3ec; }


/* USERFIELDS */
.userfield-list li { background-color: #f4f3ec; }
.userfield-list li .userfield_admin_name { font-weight: bold; color: #333; }


/* LIGHT PAGES */
body.light { background-color: #e9eaed; }
body.light .site-info .site-name a { color: #111; }
body.light .site-info .site-name a:hover { color: #f00; text-decoration: none; }
.light-form { background-color: #fff; border-radius: 4px; }
.site-description { color: #868686; font-size: 15px; font-weight: 500; margin-top: 15px; }

/* MISC */
.help { border: 1px solid #ddd; background-color: #fff; }
.help:before { display: block; content: ""; position: absolute; top: -12px; left: 15px; width: 0; height: 0; border-width: 6px; border-color: transparent transparent #fff transparent; border-style: solid; }

.text h4, 
.text h5, 
.text h6 { font-weight: 700; }

a.user-friends { color: #111; }
a.user-friends:hover { color: #f00; text-decoration: none; }


/* ГОЛОСОВАНИЕ */
.vote .vote-count { color: #adadad; }
.vote .vote-count a { color: #adadad; }

.vote.vote-count-positive .vote-count { color: #090; }
.vote.vote-count-negative .vote-count { color: #f00; }

.vote .vote-up,
.vote .vote-down { color: #ccc; }

.vote .vote-up:hover { color: #090; }
.vote .vote-down:hover { color: #f00; }

.vote.voted.voted-up .vote-up { color: #090; }
.vote.voted.voted-down .vote-down { color: #f00; }

.vote.voted.voted-up .vote-down:hover { color: #f00; }
.vote.voted.voted-down .vote-up:hover { color: #090; }


/* ИЗБРАННОЕ */
.favourite, 
.favourite:hover, 
.favourite:focus { color: #adadad; }
.favourite.active { color: #ff4f00; }


/* TOOLBAR */
.toolbar { top: 149px; }
.toolbar section { background-color: #fff; border: 1px solid #efefef; border-radius: 4px; }

.toolbar section a { color: #adadad; }
.toolbar section a:hover { color: #090; }

/* Update comments button */
.toolbar .toolbar-update .update-comments.active span { opacity: .5; }
.toolbar .toolbar-update .new-comments { border-top: 1px solid #efefef; font-size: 11px; }

/* Topic navigation */
.toolbar .toolbar-topic a.toolbar-topic-prev { border-bottom: 1px solid #efefef; }


/* ПОИСК */
.search-item { background-color: #f4f3ec; }
.search-abc li.active a { color: #333; border: none; }
.search-tags { margin-bottom: 30px; padding: 15px; background-color: rgba(0, 0, 0, 0.05); }
.search-tags .form-group { margin-bottom: 0; }


/* ОБЛАКО ТЕГОВ */
.tag-cloud li a { color: #adadad; }
.tag-cloud li a:hover { color: #f00; }

.tag-cloud li .tag-size-5 { font-size: 16px; }
.tag-cloud li .tag-size-6 { font-size: 16px; }
.tag-cloud li .tag-size-7 { font-size: 17px; }
.tag-cloud li .tag-size-8 { font-size: 17px; }
.tag-cloud li .tag-size-9 { font-size: 18px; }
.tag-cloud li .tag-size-10 { font-size: 18px; }


/* ITEM LIST */
.item-list { border-top: 1px solid #efefef; }
.item-list li { border-bottom: 1px solid #efefef; padding: 10px 0; }
.item-list li .author { color: #868686; }
.item-list li .blog-name { color: #868686; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

.block.block-type-stream .item-list li p { margin-bottom: 5px; }

#block_blogs .item-list li { padding: 10px 0; margin: 0; }
#block_blogs .item-list li .avatar { height: 36px; width: 36px; }


/* РАЗНОЕ */
.wrapper-content { background-color: #f4f3ec; }
.wrapper-content.wrapper-content-dark { background-color: rgba(0, 0, 0, 0.02); }
.form-profile { background-color: #f4f3ec; }


/* ФОРМАТИРОВАННЫЙ ТЕКСТ */
.text a { text-decoration: underline; }
.text a:hover { text-decoration: none; }
.text a:visited { color: #6091bf; }


/* ИКОНКИ */
.form-profile .glyphicon-trash,
.poll-create .glyphicon-trash,
.userfield-actions .glyphicon-edit,
.userfield-actions .glyphicon-remove { color: #adadad; }
.form-profile .glyphicon-trash:hover,
.poll-create .glyphicon-trash:hover,
.userfield-actions .glyphicon-edit:hover,
.userfield-actions .glyphicon-remove:hover { color: #777; }


/* TABLE BLOGS */
.table.table-blogs .cell-name h4 { margin-bottom: 7px; margin-top: 0; }
.table.table-blogs .cell-name h4 .blog-name { font-size: 15px; text-decoration: underline; }
.table.table-blogs .cell-name h4 .blog-name:hover { color: #f00; }
.table.table-blogs .cell-name h4 .glyphicon { color: #ccc; cursor: help; font-size: 11px; vertical-align: top; }
.table.table-blogs .cell-name p { color: #999; font-size: 12px; margin-bottom: 0; overflow: hidden; }
.table.table-blogs .cell-rating { width: 75px; }
.table.table-blogs .cell-readers { width: 90px; }


/* TABLE USERS */
.table.table-users .cell-name .username a { font-size: 15px; font-weight: 600; text-decoration: underline; }
.table.table-users .cell-name .username a:hover { color: #f00; }
.table.table-users .cell-name p .glyphicon { color: #45cbff; cursor: help; font-size: 11px; vertical-align: top; }
.table.table-users .cell-rating, .table.table-users .cell-skill { width: 75px; }
.table.table-users .cell-rating, .table.table-users .cell-skill { width: 75px; }


/* ТОПИК */
.topic { margin-bottom: 40px; }
.topic-preview .topic { margin-bottom: 30px; padding: 0; }

/* Header */
.topic .topic-header .topic-title a { text-decoration: underline; }
.topic .topic-header .topic-title a:hover { color: #f00; }
.topic .topic-header .topic-title span { font-size: 14px; color: #090; left: -5px; top: 5px; }
.topic .topic-header .topic-info .topic-blog { color: #868686; text-decoration: underline; }
.topic .topic-header .topic-info .topic-blog:hover { color: #f00; }

/* Topic Link */
.topic .topic-url a { color: #090; }

/* Tags */
.topic .topic-footer .topic-tags { margin-bottom: 10px; }
.topic .topic-footer .topic-tags li a { color: #adadad; }
.topic .topic-footer .topic-tags li a:hover { color: #777; }
.topic .topic-footer .topic-tags li.topic-tags-user a { color: #090; }

/* Info */
.topic .topic-footer .topic-info { padding-top: 10px; border-top: 1px solid #efefef; }
.topic .topic-footer .topic-info li.topic-info-author a { color: #868686; }
.topic .topic-footer .topic-info li.topic-info-author a:hover { color: #f00; }
.topic .topic-footer .topic-info li.topic-info-share a { color: #adadad; }
.topic .topic-footer .topic-info li.topic-info-comments a { color: #adadad; }
.topic .topic-footer .topic-info li.topic-info-comments a.icon-active, 
.topic .topic-footer .topic-info li.topic-info-comments a.new { color: #090; }
.topic .topic-footer .topic-info li.topic-info-comments a.new .count { color: #f00; }

/* Share */
.topic .topic-share { border: 1px solid #efefef; border-radius: 3px; margin: 15px 0; }

/* Poll */
.poll-create { background-color: rgba(0, 0, 0, 0.03); }

/* Topic Photo */
.topic.topic-type-photoset .topic-photo-preview .topic-photo-count { color: #3fb618; background: rgba(0,0,0,.6); }
.topic.topic-type-photoset .topic-photo-preview .topic-photo-desc { color: #fff; background: rgba(0,0,0,.7); }
.topic.topic-type-photoset .topic-photo-images h2 { border-bottom: 1px solid #eee; }

.topic-photo-upload { background-color: rgba(0, 0, 0, 0.03); }

.topic-photo-upload ul li textarea {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#form-topic-add .checkbox { margin-bottom: 20px; }

/* Topic Talk */
.topic.topic-type-talk .talk-recipients { background-color: #f4f3ec; }
.talk-search .talk-search-content { border-top: 1px dotted #cdcdcd; }


/* КОММЕНТАРИИ */
.comments .comments-header h3 { margin-top: 0; }
.comment blockquote { background-color: #fff; border-left: 4px solid #ddd; font-size: 13px; }
.comment .text pre.prettyprint { background-color: #fff; }

.comment-preview { margin-top: 25px; background-color: #e9eaed; }

/* Комментарий */
.comment { padding: 20px 20px 20px 73px; border-top: 1px solid #efefef; margin-bottom: 25px; }
.comment .comment-avatar { height: 48px; left: 10px; top: 20px; width: 48px; }

/* Типы комментариев
 * deleted 	- 	удаленный комментарий
 * self 	- 	ваш комментарий
 * new 		- 	новый, непрочитанный комментарий
 * current 	- 	активный комментарий, который выделяется при исползование кнопки обновления в тулбаре
 */
.comment.comment-deleted { background-color: #fff1f1; }
.comment.comment-self { background-color: #fffbe8; }
.comment.comment-new { background-color: #f4f9fe; }
.comment.comment-current { background-color: #e8f3ff; }

.ls-user-role-not-admin .comment.comment-deleted { padding: 10px 15px; background-color: #f4f3ec; border-top: none; }

/* Info Block */
.comment .comment-info li.comment-author a { font-weight: bold; color: #111; }
.comment .comment-info li.comment-author a.comment-topic-author { color: #090; }
.comment .comment-info li.comment-date a { color: #adadad; }
.comment .comment-info li.goto-comment-parent,
.comment .comment-info li.goto-comment-child { font-size: 13px; line-height: 1.1; }

/* Actions */
.comment .comment-actions li a.comment-delete { color: #f00; }
.comment .comment-actions li a.comment-repair { color: #090; }

/* Форма комментирования */
.reply-header { margin-bottom: 25px; }
.reply { background-color: #f4f3ec; margin-top: 25px; margin-bottom: 25px; }

/* Лента комментариев */
.comments.comment-list { margin-bottom: 30px; }
.comment-path { margin-top: 20px; padding: 5px 0; }
.comment-path .blog-name { color: #f00; }
.comment-path .comment-path-topic { color: #111; }
.comment-path .comment-path-comments { color: #090; }


/* Стена */
#wall-container .comment-wrapper .comment-wrapper { padding-left: 30px; }
#wall-container .comment-wrapper .comment-wrapper .btn-block { margin-bottom: 10px; }


/* БЛОКИ */
.block { margin-bottom: 30px; box-shadow: none; }

.block .block-header h3 { font-size: 19px; margin-bottom: 15px; margin-top: 0; }
.block .block-header h3 a { color: #111; }
.block .block-header h3 a:hover { text-decoration: none; color: #f00; }

.block-content .nav > li > a { font-size: 11px; }

.block footer a { color: #adadad; }

/* Block Type - Blog */
.block.block-type-blog a.rss { color: #adadad; }
.block.block-type-blog a.rss:hover { color: #777; }

/* Block Type - Profile */
.block.block-type-profile .upload-photo { background-color: #eee; }

.block.block-type-profile-nav { border: none; }
.block.block-type-profile-nav .panel-body { padding: 0; }
.block.block-type-profile-nav a { background-color: #f7f7f7; }
.block.block-type-profile-note { background-color: #eaf5ff; border-color: #cbe6ff; }

/* Block Type - Foldable */
.block.block-type-foldable { background-color: #f4f3ec; box-shadow: none; }
.block.block-type-foldable.block-type-favourite-topic { background-color: #fff; }
.block.block-type-foldable .block-content { border-top: 1px dotted #cdcdcd; }
.block.block-type-foldable .block-content .form-control[readonly] { cursor: text; }

.block.block-type-blacklist { background-color: #f4f3ec; box-shadow: none; }


/* МОДАЛЬНЫЕ ОКНА */
.modal-header { padding: 15px 20px; background-color: #476698; border-radius: 4px 4px 0 0;}
.modal-title { color: #fff; }
.modal-content { border-radius: 8px 8px 4px 4px; }

/* Добавление топика */
.modal.modal-write .write-list li:hover a { color: #f00; }
.modal.modal-write .write-list li .write-item-link { color: #111; font-size: 11px; font-weight: bold; text-transform: uppercase; }
.modal.modal-write .write-list li .write-item-link:hover { color: #f00; text-decoration: none; }


/* БЛОГ */
.blog { margin-bottom: 20px; }

/* Header */
.blog .blog-header h1 span { font-size: 14px; color: #f00; }

/* Blog Mini */
.blog-mini { padding: 10px 20px; background-color: #e7f4ee; line-height: 26px; }

/* Content */
.blog .blog-more-content { padding: 0 20px 20px; background-color: #e7f4ee; }
.blog .blog-content { background-color: #fff; padding: 15px 15px 5px; }

/* Footer */
.blog-info dt, .blog-info dd { line-height: 2; }
.blog-info dt { border-bottom: 1px dotted #cdcdcd; }
.blog-info dd { border-bottom: 1px dotted #cdcdcd; text-align: right; }
.blog .blog-footer { line-height: 1.7; }
.blog .blog-footer .user-avatar { margin-right: 5px; }


/* СТЕНА */
.wall-submit { background-color: #f4f3ec; }
.wall-submit .counter { color: #adadad; }

.wall-submit.wall-submit-reply { background-color: #f4f3ec; }


/* ВСПЛЫВАЮЩИЕ ПОДСКАЗКИ */
.infobox { font-size: 12px; padding: 15px; color: #fff; background: rgba(0,0,0,.8); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.infobox a { color: #b4b8ed; }
.infobox a:hover { color: #999ddb; }

/* Default Tip */
.infobox.infobox-standart { background: rgba(0,0,0,.8); }
.infobox.infobox-standart .tip-arrow  { border-color: rgba(0,0,0,.8); }


/* ВСПЛЫВАЮЩИЕ УВЕДОМЛЕНИЯ */
#notifier { width: 250px; top: 10px; right: 10px; font-size: 12px; }

#notifier .n-box { 
	color: #fff; 
	background: #000;
	opacity: 0.9; filter: alpha(opacity=90);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#notifier .n-box h3 { color: #fff; }
#notifier .n-box p { font-size: 12px; }

#notifier .n-box.n-notice { background: #063573; }
#notifier .n-box.n-error { background: #850505; }


/* ПАГИНАЦИЯ */
.paging .pagination { margin-bottom: 0; }
