/* RESET */
a:focus, a:hover, a:active, .btn:focus, select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: 0; }
iframe { border: none; }
a:focus { text-decoration: none; }


/* ССЫЛКИ */
a { transition: color 0.2s ease 0s; -webkit-transition: color 0.2s ease 0s; }

a.actions-edit { color: #080; }
a.actions-delete { color: #f00; }

a.delete { color: #f00; }

a.user { color: #151515; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 16px; line-height: 1; }
a.user.inactive { color: #727a90; }


/* ШАПКА САЙТА */
#header .navbar .nav > li > a.new-messages { color: #ff7f00; }
#header .navbar .nav > li > a.new-messages:hover { color: #e67200; }
#header .navbar .nav > li > a.new-messages span { font-size: 14px; top: 1px; }

.navbar-brand { font-size: 24px; text-transform: uppercase; }
.navbar-nav > li > a { font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 18px; }


/* НАВИГАЦИЯ */
#nav { border-bottom: 1px solid #eee; background-color: #f6f5f3; }
#nav .nav-pills > li > a { padding: 6px 12px; }

.nav-filter-wrapper .nav .open > a,
.nav-filter-wrapper .nav .open > a:hover,
.nav-filter-wrapper .nav .open > a:focus { background-color: transparent; border-color: #ddd; }
.nav-filter-wrapper .nav .caret { border-bottom-color: #727a90; border-top-color: #727a90; }


/* ФУТЕР */
#footer { background-color: #f6f5f3; border-top: 1px solid #eee; font-family: 'PT Sans Narrow',Arial,sans-serif; }
#footer .footer-brand { display: block; margin-bottom: 20px; font-size: 26px; line-height: 1; color: #151515; text-transform: uppercase; }
#footer .footer-brand:hover { color: #f00; text-decoration: none; }
#footer .footer-list-header { color: #151515; font-size: 20px; margin-bottom: 10px; }
#footer .footer-list a { color: #727a90; font-size: 16px; }
#footer .footer-list a:hover { color: #f00; text-decoration: none; }
#footer .copyright { font-size: 14px; }
#footer .copyright a { color: #727a90; }


/* STREAM */
.stream-list li.stream-item { border-bottom: 1px solid #eee; }
.stream-list li.stream-header-date .lead { border-bottom: 1px solid #eee; font-family: 'PT Sans Narrow',Arial,sans-serif; }

.stream-comment-preview { position: relative; background-color: #f6f5f3; border: 1px solid #eee; border-radius: 4px; color: #646C82; box-shadow: 0 2px 4px #eee inset;}
.stream-comment-preview:after { border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #eee; border-style: solid; border-width: 6px; content: ""; display: block; height: 0; left: 15px; position: absolute; top: -12px; width: 0; }


/* USERFIELDS */
.userfield-list li { background-color: #f5f5f5; }
.userfield-list li .userfield_admin_name { font-weight: bold; color: #333; }


/* LIGHT PAGES */
body.light { background: #f8f8f8 url(images/bg.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
body.light .site-info .site-name { text-transform: uppercase; }
body.light .site-info .site-name a { color: #151515; }
body.light .site-info .site-name a:hover { color: #f00; text-decoration: none; }
body.light .site-info .site-description { font-size: 18px; }

.light-form { background-color: rgba(255, 255, 255, 0.85); border-radius: 5px; }
.light-form .page-header { border-bottom: 1px solid rgba(0, 0, 0, 0.08); }


/* MISC */
.help { border: 1px solid #ddd; background-color: #fff; }
.help:before { display: block; content: ""; position: absolute; top: -12px; left: 15px; width: 0; height: 0; border-width: 6px; border-color: transparent transparent #fff transparent; border-style: solid; }


/* ГОЛОСОВАНИЕ */
.vote .vote-count { color: #818189; }
.vote .vote-count a { color: #818189; }
.vote.vote-count-positive .vote-count { color: #080 !important; }
.vote.vote-count-negative .vote-count { color: #f00 !important; }
.vote .vote-up,
.vote .vote-down { color: #818189; }
.vote .vote-up:hover { color: #080 !important; }
.vote .vote-down:hover { color: #f00 !important; }
.vote.voted.voted-up .vote-up { color: #080 !important; }
.vote.voted.voted-down .vote-down { color: #f00 !important; }
.vote.voted.voted-up .vote-down:hover { color: #f00 !important; }
.vote.voted.voted-down .vote-up:hover { color: #080 !important; }


/* ИЗБРАННОЕ */
.favourite { color: #818189; }
.favourite:hover, 
.favourite.active { color: #ff7f00; }


/* TOOLBAR */
.toolbar { top: 170px; }
.toolbar section { background-color: #fff; border: 1px solid #eee; border-radius: 5px; }

.toolbar section a { color: #999; }
.toolbar section a:hover { color: #080; }

/* Update comments button */
.toolbar .toolbar-update .update-comments.active span 	{ color: #080; opacity: 1; }
.toolbar .toolbar-update .new-comments { color: #f00; border-top: 1px solid #eee; font-size: 12px; }

/* Topic navigation */
.toolbar .toolbar-topic a.toolbar-topic-prev { border-bottom: 1px solid #eee; }


/* ПОИСК */
.search-item { background-color: #f6f5f3; border-radius: 4px; }
.search-item input { margin-bottom: 5px; }

a.blogs-search, a.people-search { color: #e7e7e7; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
a.blogs-search:hover, a.people-search:hover { color: #acb5d0; }

.search-abc li a:hover { color: #f00; }
.search-abc li.active a { color: #818189; border: none; }
.search-abc { margin-bottom: 0; }

.search-tags { background-color: #f6f5f3; border-radius: 4px; margin-bottom: 40px; padding: 15px; }
.search-tags .form-group { margin-bottom: 0; }


/* ОБЛАКО ТЕГОВ */
.tag-cloud li a { color: #999; }


/* ITEM LIST */
.item-list { border-bottom: 1px solid #eee; border-top: 1px solid #eee; }
.item-list li { padding: 10px 0; }
.item-list li .author { color: #333; }
.item-list li .blog-name { color: #468847; }


/* РАЗНОЕ */
.wrapper-content { background-color: #f5f5f5; }
.wrapper-content.wrapper-content-dark { background-color: #f0f0f0; }

a.blogs-search, a.people-search { position: absolute; right: 15px; top: 5px; color: #999; }
a.blogs-search:hover, a.people-search:hover { text-decoration: none; }

.text-success { color: #080; }
.text-danger { color: #f00; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: #151515; }

blockquote { background-color: #f6f6f6; color: #646c82; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 18px; font-style: italic; }

.progress { box-shadow: none; height: 10px; }
.progress-bar { box-shadow: none; }

.nav-pills > li > a { padding: 5px 10px; color: #727a90; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 16px; border: 1px solid transparent; }
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus { background-color: transparent; border-color: #ddd; color: #727a90; }
.nav-pills > li > a:hover,
.nav-pills > li > a:focus { background-color: transparent; color: #f00; }

#registration-form .glyphicon-question-sign, 
#popup-registration-form .glyphicon-question-sign { color: #acb5d0; }

.wrapper-content { background-color: #f6f5f3; border-radius: 4px; }
.wrapper-content.wrapper-content-dark { background-color: #efefed; border-radius: 0; }

.pagination > li > a, .pagination > li > span { border-radius: 4px; color: #727a90; margin-right: 7px; }
.pagination > li:last-child > a, .pagination > li:last-child > span { margin-right: 0; }

.help-block { color: #818189; }

legend { font-family: 'PT Sans Narrow',Arial,sans-serif; }

.table-profile-notes a.user { color: #727a90; }

#new_messages .badge { background-color: #ff7f00; margin-left: 5px; position: relative; top: -1px; }

#stat-performance { border-top: 1px solid #eee; }


/* ФОРМАТИРОВАННЫЙ ТЕКСТ */
.text a { text-decoration: underline; }
.text a:hover { text-decoration: none; }
.text a:visited { color: #939; }

pre.prettyprint { border: 1px solid #eaeaea; padding: 10px 15px; margin: 0; }


/* ИКОНКИ */
.form-profile .icon-remove,
.poll-create .icon-remove { color: #999; }
.form-profile .icon-remove:hover,
.poll-create .icon-remove:hover { color: #777; }


/* TABLE BLOGS */
.table.table-blogs .cell-name p .blog-name { font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 18px; line-height: 1; text-decoration: underline; }
.table.table-blogs .cell-name p .blog-name:hover { color: #f00; }
.table.table-blogs .cell-name p .question-sign span { color: #e7e7e7; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
.table.table-blogs .cell-name p .question-sign span:hover { color: #acb5d0; }
.table.table-blogs .cell-name p .glyphicon-lock { color: #acb5d0; }
.table.table-blogs .cell-name .user-avatar a { color: #151515; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 15px; }


/* TABLE USERS */
.table.table-users .cell-name .username a { font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 18px; line-height: 1; text-decoration: underline; }
.table.table-users .cell-name .username a:hover { color: #f00; }
.table.table-users .cell-name p span { color: #e7e7e7; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
.table.table-users .cell-name p span:hover { color: #acb5d0; }


/* ТОПИК */
.topic { margin-bottom: 40px; }

/* Header */
.topic .topic-header .topic-title a { color: #151515; }
.topic .topic-header .topic-title a:hover { color: #f00; text-decoration: none; }
.topic .topic-header .topic-title span { font-size: 14px; color: #ddd; top: 5px; }

.topic .topic-header .topic-info .topic-blog { font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 18px; text-decoration: underline; }
.topic .topic-header .topic-info .topic-blog:hover { color: #f00; }

/* Topic content */
.topic .topic-content h4 { font-size: 24px; }
.topic .topic-content h5 { font-size: 22px; }
.topic .topic-content h6 { font-size: 20px; }
.topic .topic-content .ls-user:before { position: relative; top: 1px; }

/* Topic Link */
.topic .topic-url a { color: #080; font-size: 14px; }

/* Tags */
.topic .topic-footer .topic-tags li a { color: #818189; }
.topic .topic-footer .topic-tags li a:hover { color: #727a90; }
.topic .topic-footer .topic-tags li.topic-tags-user a { color: #080; }

/* Info */
.topic .topic-footer .topic-info { border-top: 1px solid #eee; }
.topic .topic-footer .topic-info li.topic-info-author a { color: #151515; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 15px; line-height: 1; }
.topic .topic-footer .topic-info li.topic-info-share a { color: #acb5d0; }
.topic .topic-footer .topic-info li.topic-info-comments a { color: #818189; }
.topic .topic-footer .topic-info li.topic-info-comments a.icon-active,
.topic .topic-footer .topic-info li.topic-info-comments a.new { color: #080; }
.topic .topic-footer .topic-info li.topic-info-comments a.new .count { color: #f00; }
.topic .topic-footer .topic-info li.vote .vote-up,
.topic .topic-footer .topic-info li.vote .vote-down { color: #e7e7e7; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
.topic:hover .topic-footer .topic-info li.vote .vote-up,
.topic:hover .topic-footer .topic-info li.vote .vote-down { color: #aaa; }

/* Share */
.topic .topic-share { border: 1px solid #eee; background-color: #f6f5f3; }

/* Poll */
.poll-create { background-color: #efefed; border-radius: 4px; }

/* Topic Photo */
.topic.topic-type-photoset .topic-photo-preview .topic-photo-count { color: #3fb618; background: rgba(0,0,0,.6); }
.topic.topic-type-photoset .topic-photo-preview .topic-photo-desc { color: #fff; background: rgba(0,0,0,.7); }
.topic.topic-type-photoset .topic-photo-images h2 { border-bottom: 1px solid #eee; }

.topic-photo-upload { background-color: #efefed; border-radius: 4px; }
.topic-photo-upload ul li { line-height: 1; margin-bottom: 15px; }
.topic-photo-upload ul li .image-delete { color: #f00; }
.topic-photo-upload ul li .mark-as-preview { color: #080; }

.topic-photo-upload ul li textarea {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* Topic Talk */
.topic.topic-type-talk .talk-recipients { background-color: #f6f5f3; }
.talk-recipients-header a { border-top: 1px solid #eee; color: #727a90; }


/* КОММЕНТАРИИ */
.comment-preview { background-color: #f5f5f5; }
.comments-header .subscribe label { font-size: 12px; }


/* Комментарий */
.comment { padding: 25px 0 25px 58px; }
.comment .comment-avatar { top: 25px; left: 0; height: 48px; width: 48px; }

.comment .comment-content blockquote { font-size: 16px; }

/* Типы комментариев
 * deleted 	- 	удаленный комментарий
 * self 	- 	ваш комментарий
 * new 		- 	новый, непрочитанный комментарий
 * current 	- 	активный комментарий, который выделяется при исползование кнопки обновления в тулбаре
 */
.comment { border-top: 1px solid #eeeeee; }
.comment.comment-deleted .comment-content { background-color: #ffeaea; padding: 10px; }
.comment.comment-self .comment-content { background-color: #e6f4e7; padding: 10px; }
.comment.comment-new .comment-content { background-color: #e3eff9; padding: 10px; }
.comment.comment-current .comment-content { background-color: #d8e9f7; padding: 10px; }

.ls-user-role-not-admin .comment.comment-deleted { padding: 10px 15px; background-color: #f6f5f3; border-top: none; }

/* Info Block */
.comment .comment-info li.comment-author a { color: #151515; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 15px; line-height: 1; }
.comment .comment-info li.comment-author a.comment-topic-author { color: #080; }
.comment .comment-info li.comment-date a { color: #818189; }
.comment .comment-info li.goto-comment-parent,
.comment .comment-info li.goto-comment-child { font-size: 13px; line-height: 1.1; }
.comment .comment-info li.vote .vote-up,
.comment .comment-info li.vote .vote-down { color: #e7e7e7; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
.comment:hover .comment-info li.vote .vote-up,
.comment:hover .comment-info li.vote .vote-down { color: #aaa; }

/* Actions */
.comment .comment-actions li a.reply-link,
.comment .comment-actions li a.comment-delete,
.comment .comment-actions li a.comment-repair { color: #aaa; }
.comment:hover .comment-actions li a.reply-link { color: #428bca; }
.comment:hover .comment-actions li a.comment-delete { color: #f00; }
.comment:hover .comment-actions li a.comment-repair { color: #080; }

/* Форма комментирования */
.reply { background-color: #f6f5f3; border-radius: 4px; margin-bottom: 20px; }

/* Лента комментариев */
.comments.comment-list .comment { margin-bottom: 40px; border-top: none; }
.comments .comment-path { background-color: #f6f5f3; padding: 2px 7px; }
.comments .comment-path .blog-name { color: #080; }
.comments .comment-path .comment-path-comments { color: #f00; }


/* БЛОКИ */
.block .block-header h3 a { color: #151515; }
.block .block-header h3 a:hover { text-decoration: none; color: #f00; }

.block .nav-pills > li > a { padding: 1px 8px 4px; font-size: 14px; }
.block .nav-pills > li.active > a,
.block .nav-pills > li.active > a:hover,
.block .nav-pills > li.active > a:focus { border-color: #e7e7e7; }

.item-list li .author { color: #151515; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 15px; }
.item-list li .blog-name { color: #080; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 16px; text-decoration: underline; }
.item-list li .blog-name:hover { color: #f00; }
.item-list li .stream-topic { font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 16px; text-decoration: underline; }
.item-list li .stream-topic:hover { color: #f00; }
.item-list li .blog-top { font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 18px; text-decoration: underline; }
.item-list li .blog-top:hover { color: #f00; }

.block footer a { color: #818189; }

/* Block Type - Tags */
.tag-cloud li a { color: #727a90; font-family: 'PT Sans Narrow',Arial,sans-serif; text-decoration: underline; }
.tag-cloud li a:hover { color: #f00; }

/* Block Type - Blog */
.block.block-type-blog a.rss { color: #f50; }
.block.block-type-blog a.rss:hover { color: #f50; }

/* Block Type - Profile */
.block.block-type-profile .upload-photo { background-color: #eee; }

.block.block-type-profile-nav .nav-pills > li > a { padding: 10px 15px; font-size: 16px; background-color: #f6f5f3; line-height: 1; }
.block.block-type-profile-nav .nav-pills > li.active > a,
.block.block-type-profile-nav .nav-pills > li.active > a:hover,
.block.block-type-profile-nav .nav-pills > li.active > a:focus { background-color: #5cb85c; border-color: #4cae4c; color: #fff; }
.block.block-type-profile-nav .nav-pills > li > a:hover,
.block.block-type-profile-nav .nav-pills > li > a:focus { color: #f00; }

.block.block-type-profile-actions { background-color: #f6f5f3; border-color: #eee; }
.block.block-type-profile-actions a { color: #727a90; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 16px; }
.block.block-type-profile-actions a.followed { color: #f00; }

.block.block-type-profile-note { background-color: #fcfce9; border-color: #f5f5c8; }

/* Block Type - Foldable */
.block.block-type-foldable .block-content { border-top: 1px solid #eee; }


/* ПРОФИЛЬ */
.profile .vote .vote-up,
.profile .vote .vote-down { color: #e7e7e7; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
.profile:hover .vote .vote-up,
.profile:hover .vote .vote-down { color: #aaa; }

.profile-info-about { margin-top: 30px; }


/* МОДАЛЬНЫЕ ОКНА */
/* Добавление топика */
.modal.modal-write .write-list li a { color: #646c82; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 16px; }
.modal.modal-write .write-list li:hover a { color: #f00; text-decoration: none; }
.modal.modal-write .write-list li a.write-item-image { opacity: .8; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
.modal.modal-write .write-list li:hover a.write-item-image { opacity: 1; }


/* БЛОГ */
/* Header */
.blog .blog-header h1 span { font-size: 14px; color: #ddd; top: 5px; vertical-align: text-top; }

.blog .blog-header .vote .vote-up,
.blog .blog-header .vote .vote-down { color: #e7e7e7; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
.blog:hover .blog-header .vote .vote-up,
.blog:hover .blog-header .vote .vote-down { color: #aaa; }

/* Blog Mini */
.blog-mini { padding: 10px 20px; background-color: #f6f5f3; line-height: 26px; }
.blog-mini .blog-mini-header a { color: #727A90; }
.blog-mini .blog-mini-header a:hover { color: #f00; }

/* Content */
.blog .blog-more-content { padding: 20px; background-color: #f6f5f3; border-top: 1px solid #eee; }
.blog .blog-more-content .blog-description { background-color: #fff; padding: 10px 15px; }
.blog .blog-content { padding: 0 0 10px; border-bottom: 1px solid #eee; }

/* Footer */
.blog-info dt { border-bottom: 1px solid #eee; }


/* СТЕНА */
.wall-submit { background-color: #f6f5f3; border-radius: 4px; }
.wall-submit .counter { color: #818189; }

.wall-submit.wall-submit-reply { background-color: #f6f5f3; }


/* ВСПЛЫВАЮЩИЕ ПОДСКАЗКИ */
.infobox { font-size: 12px; padding: 15px; color: #fff; background: rgba(0,0,0,.8); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.infobox a { color: #b4b8ed; }
.infobox a:hover { color: #999ddb; }

/* Default Tip */
.infobox.infobox-standart { background: rgba(0,0,0,.8); }
.infobox.infobox-standart .tip-arrow  { border-color: rgba(0,0,0,.8); }


/* ВСПЛЫВАЮЩИЕ УВЕДОМЛЕНИЯ */
#notifier { width: 250px; top: 10px; right: 10px; font-size: 12px; }

#notifier .n-box { 
	color: #fff; 
	background: #000;
	opacity: 0.9; filter: alpha(opacity=90);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#notifier .n-box h3 { color: #fff; }
#notifier .n-box p { font-size: 12px; }

#notifier .n-box.n-notice { background: #063573; }
#notifier .n-box.n-error { background: #850505; }