a { transition: color 0.2s ease 0s; -webkit-transition: color 0.2s ease 0s; }
a.actions-edit { color: #080; }
a.actions-delete { color: #f00; }

a.delete { color: #f00; }

a.user { color: #151515; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 16px; line-height: 1; }
a.user.inactive { color: #727a90; }

.text-success { color: #080; }
.text-danger { color: #f00; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: #151515; }

blockquote { background-color: #f6f6f6; color: #646c82; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 18px; font-style: italic; }

.navbar-brand { font-size: 24px; text-transform: uppercase; }
.navbar-nav > li > a { font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 18px; }

.favourite { color: #818189; }
.favourite:hover, 
.favourite.active { color: #ff7f00; }

.progress { box-shadow: none; height: 10px; }
.progress-bar { box-shadow: none; }

.nav-pills > li > a { padding: 5px 10px; color: #727a90; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 16px; border: 1px solid transparent; }
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus { background-color: transparent; border-color: #ddd; color: #727a90; }
.nav-pills > li > a:hover,
.nav-pills > li > a:focus { background-color: transparent; color: #f00; }

pre.prettyprint { border: 1px solid #eaeaea; padding: 10px 15px; margin: 0; }

.toolbar { top: 170px; }

.vote .vote-count, 
.vote .vote-count a 						{ color: #818189; }
.vote.vote-count-positive .vote-count 		{ color: #080 !important; }
.vote.vote-count-negative .vote-count 		{ color: #f00 !important; }
.vote .vote-up,
.vote .vote-down 							{ color: #818189; }
.vote .vote-up:hover 						{ color: #080 !important; }
.vote .vote-down:hover 						{ color: #f00 !important; }
.vote.voted.voted-up 	.vote-up 			{ color: #080 !important; }
.vote.voted.voted-down 	.vote-down 			{ color: #f00 !important; }
.vote.voted.voted-up 	.vote-down:hover 	{ color: #f00 !important; }
.vote.voted.voted-down 	.vote-up:hover 		{ color: #080 !important; }



#header .navbar .nav > li > a.new-messages { color: #ff7f00; }
#header .navbar .nav > li > a.new-messages:hover { color: #e67200; }
#header .navbar .nav > li > a.new-messages span { font-size: 14px; top: 1px; }


#nav { background-color: #f6f5f3; }
#nav .nav-pills > li > a { padding: 6px 12px; }


.nav-filter-wrapper .nav .open > a,
.nav-filter-wrapper .nav .open > a:hover,
.nav-filter-wrapper .nav .open > a:focus { background-color: transparent; border-color: #ddd; }
.nav-filter-wrapper .nav .caret { border-bottom-color: #727a90; border-top-color: #727a90; }


.topic .topic-header .topic-title a { color: #151515; }
.topic .topic-header .topic-title a:hover { color: #f00; text-decoration: none; }
.topic .topic-header .topic-title span { top: 5px; }

.topic .topic-header .topic-info .topic-blog { font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 18px; text-decoration: underline; }
.topic .topic-header .topic-info .topic-blog:hover { color: #f00; }

.topic .topic-content h4 { font-size: 24px; }
.topic .topic-content h5 { font-size: 22px; }
.topic .topic-content h6 { font-size: 20px; }
.topic .topic-content .ls-user:before { position: relative; top: 1px; }
.topic .topic-content .topic-url a { color: #080; font-size: 14px; }

.topic .topic-footer .topic-share { background-color: #f6f5f3; }

.topic .topic-footer .topic-tags li a { color: #818189; }
.topic .topic-footer .topic-tags li a:hover { color: #727a90; }
.topic .topic-footer .topic-tags li.topic-tags-user a { color: #080; }
.topic .topic-footer .topic-info li.topic-info-author a { color: #151515; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 15px; line-height: 1; }
.topic .topic-footer .topic-info li.topic-info-share a { color: #acb5d0; }
.topic .topic-footer .topic-info li.topic-info-comments a { color: #818189; }
.topic .topic-footer .topic-info li.topic-info-comments a.icon-active,
.topic .topic-footer .topic-info li.topic-info-comments a.new { color: #080; }
.topic .topic-footer .topic-info li.topic-info-comments a.new .count { color: #f00; }

.topic .topic-footer .topic-info li.vote .vote-up,
.topic .topic-footer .topic-info li.vote .vote-down { color: #e7e7e7; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
.topic:hover .topic-footer .topic-info li.vote .vote-up,
.topic:hover .topic-footer .topic-info li.vote .vote-down { color: #aaa; }

.poll-create { background-color: #efefed; border-radius: 4px; }

.topic-photo-upload { background-color: #efefed; border-radius: 4px; }
.topic-photo-upload ul li { line-height: 1; margin-bottom: 15px; }
.topic-photo-upload ul li .image-delete { color: #f00; }
.topic-photo-upload ul li .mark-as-preview { color: #080; }


.blog .blog-header h1 span { top: 5px; vertical-align: text-top; }


.comments-header .subscribe label { font-size: 12px; }

.comment .comment-info li.comment-author a { color: #151515; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 15px; line-height: 1; }
.comment .comment-info li.comment-author a.comment-topic-author { color: #080; }

.comment .comment-info li.comment-date a { color: #818189; }

.comment .comment-info li.vote .vote-up,
.comment .comment-info li.vote .vote-down { color: #e7e7e7; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
.comment:hover .comment-info li.vote .vote-up,
.comment:hover .comment-info li.vote .vote-down { color: #aaa; }

.comment.comment-self .comment-content { background-color: #e6f4e7; }
.comment.comment-deleted .comment-content { background-color: #ffeaea; }
.comment.comment-new .comment-content 		{ background-color: #e3eff9; }
.comment.comment-current .comment-content 	{ background-color: #d8e9f7; }

.comment .comment-content blockquote { font-size: 16px; }

.comment .comment-actions li a.reply-link,
.comment .comment-actions li a.comment-delete,
.comment .comment-actions li a.comment-repair { color: #aaa; }
.comment:hover .comment-actions li a.reply-link { color: #428bca; }
.comment:hover .comment-actions li a.comment-delete { color: #f00; }
.comment:hover .comment-actions li a.comment-repair { color: #080; }

.ls-user-role-not-admin .comment.comment-deleted { background-color: #f6f5f3; }

.comments.comment-list .comment { margin-bottom: 40px; border-top: none; }
.comments .comment-path { background-color: #f6f5f3; padding: 2px 7px; }
.comments .comment-path .blog-name { color: #080; }
.comments .comment-path .comment-path-comments { color: #f00; }


.blog .blog-header .vote .vote-up,
.blog .blog-header .vote .vote-down { color: #e7e7e7; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
.blog:hover .blog-header .vote .vote-up,
.blog:hover .blog-header .vote .vote-down { color: #aaa; }

.blog-mini { background-color: #f6f5f3; }
.blog-mini .blog-mini-header a { color: #727A90; }
.blog-mini .blog-mini-header a:hover { color: #f00; }

.blog .blog-more-content { background-color: #f6f5f3; }
.blog .blog-more-content .blog-description { background-color: #fff; padding: 10px 15px; }


.block .block-header h3 a { color: #151515; }
.block .block-header h3 a:hover { color: #f00; }

.block .nav-pills > li > a { padding: 1px 8px 4px; font-size: 14px; }
.block .nav-pills > li.active > a,
.block .nav-pills > li.active > a:hover,
.block .nav-pills > li.active > a:focus { border-color: #e7e7e7; }

.item-list li .author { color: #151515; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 15px; }

.item-list li .blog-name { color: #080; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 16px; text-decoration: underline; }
.item-list li .blog-name:hover { color: #f00; }

.item-list li .stream-topic { font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 16px; text-decoration: underline; }
.item-list li .stream-topic:hover { color: #f00; }

.item-list li .blog-top { font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 18px; text-decoration: underline; }
.item-list li .blog-top:hover { color: #f00; }

.tag-cloud li a { color: #727a90; font-family: 'PT Sans Narrow',Arial,sans-serif; text-decoration: underline; }
.tag-cloud li a:hover { color: #f00; }

.block.block-type-blog a.rss { color: #f50; }
.block.block-type-blog a.rss:hover { color: #f50; }

.block footer a { color: #818189; }

.block.block-type-profile-nav .nav-pills > li > a { padding: 10px 15px; font-size: 16px; background-color: #f6f5f3; line-height: 1; }
.block.block-type-profile-nav .nav-pills > li.active > a,
.block.block-type-profile-nav .nav-pills > li.active > a:hover,
.block.block-type-profile-nav .nav-pills > li.active > a:focus { background-color: #5cb85c; border-color: #4cae4c; color: #fff; }
.block.block-type-profile-nav .nav-pills > li > a:hover,
.block.block-type-profile-nav .nav-pills > li > a:focus { color: #f00; }

.block.block-type-profile-actions { background-color: #f6f5f3; border-color: #eee; }
.block.block-type-profile-actions a { color: #727a90; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 16px; }
.block.block-type-profile-actions a.followed { color: #f00; }

.block.block-type-profile-note { background-color: #fcfce9; border-color: #f5f5c8; }


.profile .vote .vote-up,
.profile .vote .vote-down { color: #e7e7e7; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
.profile:hover .vote .vote-up,
.profile:hover .vote .vote-down { color: #aaa; }

.profile-info-about { margin-top: 30px; }


.toolbar section a:hover 	{ color: #080; }
.toolbar .toolbar-update .update-comments.active span 	{ color: #080; opacity: 1; }
.toolbar .toolbar-update .new-comments { color: #f00; font-size: 12px; }


#footer { background-color: #f6f5f3; border-top: 1px solid #eee; font-family: 'PT Sans Narrow',Arial,sans-serif; }
#footer .footer-brand { color: #151515; font-size: 26px; text-transform: uppercase; }
#footer .footer-brand:hover { color: #f00; text-decoration: none; }
#footer .footer-list-header { color: #151515; font-size: 20px; font-weight: normal; margin-bottom: 10px; }
#footer .footer-list a { color: #727a90; font-size: 16px; }
#footer .footer-list a:hover { color: #f00; text-decoration: none; }
#footer .copyright { font-size: 14px; }
#footer .copyright a { color: #727a90; }


.wall-submit { background-color: #f6f5f3; border-radius: 4px; }
.wall-submit .counter { color: #818189; }
.wall-submit.wall-submit-reply { background-color: #f6f5f3; }


.stream-list li.stream-header-date .lead { font-family: 'PT Sans Narrow',Arial,sans-serif; }

.stream-comment-preview { position: relative; background-color: #f6f5f3; border: 1px solid #eee; border-radius: 4px; color: #646C82; box-shadow: 0 2px 4px #eee inset;}
.stream-comment-preview:after { border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #eee; border-style: solid; border-width: 6px; content: ""; display: block; height: 0; left: 15px; position: absolute; top: -12px; width: 0; }


.table.table-blogs .cell-name p .blog-name { font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 18px; line-height: 1; text-decoration: underline; }
.table.table-blogs .cell-name p .blog-name:hover { color: #f00; }
.table.table-blogs .cell-name p .question-sign span { color: #e7e7e7; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
.table.table-blogs .cell-name p .question-sign span:hover { color: #acb5d0; }
.table.table-blogs .cell-name p .glyphicon-lock { color: #acb5d0; }
.table.table-blogs .cell-name .user-avatar a { color: #151515; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 15px; }


.table.table-users .cell-name .username a { font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 18px; line-height: 1; text-decoration: underline; }
.table.table-users .cell-name .username a:hover { color: #f00; }
.table.table-users .cell-name p span { color: #e7e7e7; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
.table.table-users .cell-name p span:hover { color: #acb5d0; }


.topic.topic-type-talk .talk-recipients { background-color: #f6f5f3; }
.talk-recipients-header a { color: #727a90; }


body.light { background: #f8f8f8 url(images/bg.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
body.light .site-info .site-name { text-transform: uppercase; }
body.light .site-info .site-name a:hover { color: #f00; }
body.light .site-info .site-description { font-size: 18px; }

.light-form { background-color: rgba(255, 255, 255, 0.85); }
.light-form .page-header { border-bottom: 1px solid rgba(0, 0, 0, 0.08); }


.search-item { background-color: #f6f5f3; border-radius: 4px; }
a.blogs-search, a.people-search { color: #e7e7e7; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
a.blogs-search:hover, a.people-search:hover { color: #acb5d0; }

.search-item input { margin-bottom: 5px; }
.search-abc li a:hover { color: #f00; }
.search-abc li.active a { color: #818189; }
.search-abc { margin-bottom: 0; }

.search-tags { background-color: #f6f5f3; border-radius: 4px; margin-bottom: 40px; padding: 15px; }
.search-tags .form-group { margin-bottom: 0; }


.modal.modal-write .write-list li a { color: #646c82; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 16px; }
.modal.modal-write .write-list li:hover a { color: #f00; text-decoration: none; }
.modal.modal-write .write-list li a.write-item-image { opacity: .8; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
.modal.modal-write .write-list li:hover a.write-item-image { opacity: 1; }

#registration-form .glyphicon-question-sign, 
#popup-registration-form .glyphicon-question-sign { color: #acb5d0; }


.wrapper-content { background-color: #f6f5f3; border-radius: 4px; }
.wrapper-content.wrapper-content-dark { background-color: #efefed; border-radius: 0; }


.pagination > li > a, .pagination > li > span { border-radius: 4px; color: #727a90; margin-right: 7px; }
.pagination > li:last-child > a, .pagination > li:last-child > span { margin-right: 0; }


.reply { background-color: #f6f5f3; border-radius: 4px; margin-bottom: 20px; }

.help-block { color: #818189; }

legend { font-family: 'PT Sans Narrow',Arial,sans-serif; }

.table-profile-notes a.user { color: #727a90; }

#new_messages .badge { background-color: #ff7f00; margin-left: 5px; position: relative; top: -1px; }

#stat-performance { border-top: 1px solid #eee; }