a { transition: color 0.2s ease 0s; -webkit-transition: color 0.2s ease 0s; }
a.actions-edit { color: #008800; }
a.actions-delete { color: #ff0000; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: #151515; }

blockquote { background-color: #f6f6f6; color: #646c82; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 18px; font-style: italic; }

.navbar-brand { font-size: 24px; text-transform: uppercase; }
.navbar-nav > li > a { font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 18px; }

.favourite { color: #818189; }
.favourite:hover { color: #ff7f00; }
.favourite.active { color: #ff7f00; }


.progress { box-shadow: none; height: 10px; }
.progress-bar { box-shadow: none; }

.nav-pills > li > a { padding: 5px 10px; color: #727a90; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 16px; border: 1px solid transparent; }
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus { background-color: transparent; border-color: #dddddd; color: #727a90; }
.nav-pills > li > a:hover,
.nav-pills > li > a:focus { background-color: transparent; color: #ff0000; }

pre.prettyprint { border: 1px solid #eaeaea; padding: 10px 15px; margin: 0; }

.toolbar { top: 170px; }

.vote .vote-count 							{ color: #818189; }
.vote .vote-count a 						{ color: #818189; }
.vote.vote-count-positive .vote-count 		{ color: #008800 !important; }
.vote.vote-count-negative .vote-count 		{ color: #ff0000 !important; }
.vote .vote-up,
.vote .vote-down 							{ color: #818189; }
.vote .vote-up:hover 						{ color: #008800 !important; }
.vote .vote-down:hover 						{ color: #ff0000 !important; }
.vote.voted.voted-up 	.vote-up 			{ color: #008800 !important; }
.vote.voted.voted-down 	.vote-down 			{ color: #ff0000 !important; }
.vote.voted.voted-up 	.vote-down:hover 	{ color: #ff0000 !important; }
.vote.voted.voted-down 	.vote-up:hover 		{ color: #008800 !important; }

.reply { background-color: #f6f5f3; border-radius: 4px; margin-bottom: 20px; }


#header .navbar .nav > li > a.new-messages { color: #ff7f00; }
#header .navbar .nav > li > a.new-messages:hover { color: #e67200; }
#header .navbar .nav > li > a.new-messages span { font-size: 14px; top: 1px; }



#nav { background-color: #f6f5f3; }
#nav .nav-pills > li > a { padding: 6px 12px; }



.nav-filter-wrapper .nav .open > a,
.nav-filter-wrapper .nav .open > a:hover,
.nav-filter-wrapper .nav .open > a:focus { background-color: transparent; border-color: #dddddd; }
.nav-filter-wrapper .nav .caret { border-bottom-color: #727a90; border-top-color: #727a90; }



.topic .topic-header .topic-title a { color: #151515; }
.topic .topic-header .topic-title a:hover { color: #ff0000; text-decoration: none; }
.topic .topic-header .topic-title span { top: 5px; }

.topic .topic-header .topic-info .topic-blog { font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 18px; text-decoration: underline; }
.topic .topic-header .topic-info .topic-blog:hover { color: #ff0000; }

.topic .topic-content h4 { font-size: 24px; }
.topic .topic-content h5 { font-size: 22px; }
.topic .topic-content h6 { font-size: 20px; }
.topic .topic-content .ls-user:before { position: relative; top: 1px; }
.topic .topic-content .topic-url a { color: #008800; font-size: 14px; }

.topic .topic-footer .topic-share { background-color: #f7f7f7; }

.topic .topic-footer .topic-tags li a { color: #818189; }
.topic .topic-footer .topic-tags li a:hover { color: #727a90; }
.topic .topic-footer .topic-tags li.topic-tags-user a { color: #008800; }

.topic .topic-footer .topic-info li.topic-info-author a { color: #151515; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 15px; line-height: 1; }

.topic .topic-footer .topic-info li.topic-info-share a { color: #acb5d0; }

.topic .topic-footer .topic-info li.topic-info-comments a { color: #818189; }
.topic .topic-footer .topic-info li.topic-info-comments a.icon-active,
.topic .topic-footer .topic-info li.topic-info-comments a.new { color: #008800; }
.topic .topic-footer .topic-info li.topic-info-comments a.new .count { color: #ff0000; }

.topic .topic-footer .topic-info li.vote .vote-up,
.topic .topic-footer .topic-info li.vote .vote-down { color: #e7e7e7; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
.topic:hover .topic-footer .topic-info li.vote .vote-up,
.topic:hover .topic-footer .topic-info li.vote .vote-down { color: #aaaaaa; }



.blog .blog-header h1 span { top: 5px; vertical-align: text-top; }



.comments-header .subscribe label { font-size: 12px; }

.comment .comment-info li.comment-author a { color: #151515; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 15px; line-height: 1; }
.comment .comment-info li.comment-author a.comment-topic-author { color: #008800; }

.comment .comment-info li.comment-date a { color: #818189; }

.comment .comment-info li.vote .vote-up,
.comment .comment-info li.vote .vote-down { color: #e7e7e7; transition: color 0.3s ease 0s; -webkit-transition: color 0.3s ease 0s; }
.comment:hover .comment-info li.vote .vote-up,
.comment:hover .comment-info li.vote .vote-down { color: #aaaaaa; }

.comment.comment-self .comment-content { background-color: #e6f4e7; }
.comment.comment-deleted .comment-content { background-color: #ffeaea; }
.comment.comment-new .comment-content 		{ background-color: #e3eff9; }
.comment.comment-current .comment-content 	{ background-color: #d8e9f7; }

.comment .comment-content blockquote { font-size: 16px; }

.comment .comment-actions li a.reply-link,
.comment .comment-actions li a.comment-delete,
.comment .comment-actions li a.comment-repair { color: #aaaaaa; }
.comment:hover .comment-actions li a.reply-link { color: #428bca; }
.comment:hover .comment-actions li a.comment-delete { color: #ff0000; }
.comment:hover .comment-actions li a.comment-repair { color: #008800; }

.ls-user-role-not-admin .comment.comment-deleted { background-color: #f6f5f3; }



.block .block-header h3 a { color: #151515; }
.block .block-header h3 a:hover { color: #ff0000; }

.block .nav-pills > li > a { padding: 1px 8px 4px; font-size: 14px; }
.block .nav-pills > li.active > a,
.block .nav-pills > li.active > a:hover,
.block .nav-pills > li.active > a:focus { border-color: #e7e7e7; }

.item-list li .author { color: #151515; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 15px; }

.item-list li .blog-name { color: #008800; font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 16px; text-decoration: underline; }
.item-list li .blog-name:hover { color: #ff0000; }

.item-list li .stream-topic { font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 16px; text-decoration: underline; }
.item-list li .stream-topic:hover { color: #ff0000; }

.item-list li .blog-top { font-family: 'PT Sans Narrow',Arial,sans-serif; font-size: 18px; text-decoration: underline; }
.item-list li .blog-top:hover { color: #ff0000; }

.tag-cloud li a { color: #727a90; font-family: 'PT Sans Narrow',Arial,sans-serif; text-decoration: underline; }
.tag-cloud li a:hover { color: #ff0000; }

.block.block-type-blog a.rss { color: #ff5500; }
.block.block-type-blog a.rss:hover { color: #ff5500; }

.block footer a { color: #818189; }



.toolbar section a:hover 	{ color: #008800; }
.toolbar .toolbar-update .update-comments.active span 	{ color: #008800; opacity: 1; }
.toolbar .toolbar-update .new-comments { color: #ff0000; font-size: 12px; }



#footer { background-color: #f6f5f3; border-top: 1px solid #eeeeee; font-family: 'PT Sans Narrow',Arial,sans-serif; }
#footer .footer-brand { color: #151515; font-size: 26px; text-transform: uppercase; }
#footer .footer-brand:hover { color: #ff0000; text-decoration: none; }
#footer .footer-list-header { color: #151515; font-size: 20px; font-weight: normal; margin-bottom: 10px; }
#footer .footer-list a { color: #727a90; font-size: 16px; }
#footer .footer-list a:hover { color: #ff0000; text-decoration: none; }
#footer .copyright { font-size: 14px; }
#footer .copyright a { color: #727a90; }



body.light { background: #f8f8f8 url(images/bg.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
body.light .site-info .site-name { text-transform: uppercase; }
body.light .site-info .site-name a:hover { color: #ff0000; }
body.light .site-info .site-description { font-size: 18px; }

.light-form { background-color: rgba(255, 255, 255, 0.8); }
.light-form .page-header { border-bottom: 1px solid rgba(0, 0, 0, 0.08); }



#stat-performance { border-top: 1px solid #eeeeee; display: none; }


