h1, h2, h3 { font-weight: normal; }

.topic-title a { text-decoration: underline; }

#nav { background-color: #F6F6F2; }


.block { background-color: #F6F6F2; }

#footer { background-color: #F6F6F2; }