.nav-pills > li > a {
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #E6E6E6;
    color: #333333;
}





a { transition: color 0.2s ease 0s; -webkit-transition: color 0.2s ease 0s; }
