body { background-color: #f0f0f0; }

/* Сетка */
.header-inner 			{ padding: 0 30px; }
.nav-inner 				{ padding-right: 30px; padding-left: 30px; }
.wrapper-inner 			{ padding: 30px; }
.footer-inner 			{ padding-right: 30px; padding-left: 30px; }
.stat-performance-inner { padding-right: 30px; padding-left: 30px; }


/* Оформление */
#nav 			{ background-color: #f0f0f0; }
.nav-inner 		{ background-color: #ffffff; }
.wrapper-inner 	{ background-color: #ffffff; }


/* Топик */
.topic .topic-header .topic-title a 			{ color: #333333; }


/* Футер */
#footer 					{ color: #999999; background-color: #1b1b1b; }
#footer a 					{ color: #555555; }
#footer .footer-list-header	{ margin-bottom: 5px; border-bottom: 1px solid #333333; }


/* Stat */
#stat-performance 			{ background-color: #000000; }


/* Tablet
------------------------- */
@media (max-width: 767px) {
  body { padding-left: 0; padding-right: 0; }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top { margin-left: 0; margin-right: 0; }

}